body {
    overflow-x: hidden;

    color: #676767;
    margin: 1.1rem 2.6rem 0 ;
    /* font-family: 'Sorts Mill Goudy', serif; */
    font-family: 'Playfair Display', serif;
    font-size: 1.15vw;
    background-image: url(images/background.jpg);
    background-repeat: repeat-y;
    background-size: 100% auto;
}

p {
    margin: 0;
    padding: 0.6vw 1.8vw 0 0;
    line-height: 1.35vw;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.top {
    margin-bottom: 0.62vw;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
h1 {
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
    font-size: 2vw;
}
.logo {
    align-items:center;
    margin: 0;
    display:flex;
}
.contact{
    padding-left: 67.1vw;
}
.logoBrd {
    cursor: default;
    display: flex;
    border: 2px solid #676767;
    border-radius: 29px;
    transition: background-color 0.5s linear;
    transition: color 0.9s linear;
}
.logoBrd:hover {
    background-color: #676767;
    color:rgb(4, 4, 19);
}
.logoText {
    margin: 0 10px 2px;
}
.logoContact {
  display: none;
  width: 2vw;
  height: 2vw;
  fill: #676767;
}
.language {
    font-size: 1.6vw;
}
.AboutMe {
    display: flex;
    margin-bottom: 0.62vw;;
}
.polaroid {
    position: relative;
    padding-right: 4.6vh;
}
.polImg {
    position: relative;
    border-radius: 0.78vw;
    box-shadow: inset 0 0 20px 16px black;
    max-height:  26vw;
    height: 100%;
    width: auto;
    z-index: 2;
}
.photo {
    position: absolute;
    top:0.7vw;
    left: 1.1vw;
    max-height:  19.7vw;
    height: 100%;
    width: auto;
    z-index: 1;
}
.instLogo {
    margin-right: 0.2vw;
    display: block;
    fill:#676767;
    height: 1vw;
    width: 1vw;
}
.instLink {
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom:2.6vw;
    left:1.4vw;
    z-index: 3;
    text-decoration: none;
    display: flex;
}
.linkText {
    color: #676767;
    font-size: 1.15vw;
}

.brd {
    border-bottom: 2px solid #676767;
}
.AboutMeText {
    display: flex;
    padding-bottom: 5px;
}

.bio {
    /* max-width: 20.5vw;
    height: auto; */
    max-width: 50vw;
    height: auto;
}
.memories {
    text-align: center;
    padding: 8px 0;
}
